body{
  box-sizing: border-box;
  text-align: center;
  min-height: 95vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0 0;
}


h1{
  font-size: 1.4rem;
  color: #388ad1;
}

h2{
  font-size: 1.2rem;
  text-align: center;
}

.expense-tracking{
  background-color: #388ad1;
  color: #f7f7f7;
  padding: 5px;
  box-shadow: 0 0 10px gray;
}

h3{
  font-size: 1rem;
  color: #388ad1;
}

.flexing{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  box-shadow: 0 0 10px gray;
}

.list-style{
  margin: 0;
  padding: 0;
}

.list-style li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 0;
  padding: 10px;
  background-color: #f7f7f7;
  color: #388ad1;
  box-shadow: 0 0 10px gray;
}

.form-transaction{
  text-align: left;
  color: #388ad1;
  font-weight: bold;
}

.form-transaction input{
  width: 100%;
  margin: 8px 0 5px 0;
  padding: 5px;
  border: 1px solid #388ad1;
  color: #388ad1;
  font-weight: bold;
}

.form-transaction input:hover{
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.form-transaction input:focus{
  outline: none;
}

.form-transaction button{
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.4rem 0;
  width: 7rem;
  border: 0.1rem solid #56a5eb;
  text-decoration: none;
  color: #56a5eb;
  background-color: #f7f7f7;
}

.del-btn{
  opacity: 0;
  pointer-events: none;
  border: none;
  background-color: #56a5eb;
  border-radius: 0.5rem;
  padding: 2px 5px 2px 5px;
  position: absolute;
  top: 30%;
  right: 3%;
  transform: translate(100%,-100%);
  color: #f7f7f7;
}

.list-style li:hover .del-btn {
  opacity: 1;
  pointer-events: all;
}